@charset "ISO-8859-1";
html, body {
    margin: 0; padding: 0;
    width: 1005; height: 100%;
}

body {
    background: rgb(245,245,245);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px;
}

.no-select { user-select: none; }

button:active {
    outline: none !important;
}

input, textarea, select, button, label {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.input-group > .input-group-prepend { flex: 0 0 35%; }
.input-group .input-group-text { width: 100%; }

.fixed-center,
.login, .registration {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.login,
.registration {
    padding: 25px;
    background: rgba(80, 80, 80, 0.935);
    
    border: 1px solid rgba(255,255,255,1.0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.login {
    min-width: 350px;
}

.registration {
    min-width: 500px;
}

.login > *:not(#message),
.registration > *:not(#message) {
    text-align: center;
    color: white;
}

.g-recaptcha > div {
    margin: 0 auto;
}

.login > #message,
.registration > #message {
    position: absolute;
    top: -30%; left: 50%;
    min-width: 500px; max-width: 700px;
    min-height: 48px; height: fit-content; max-height: 150px;
    text-align: left;

    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#registration-message {
    text-align: center;
}

.content-body {
    position: relative;
    padding-top: 50px;
    min-width: 100%; max-width: 100%;
    min-height: 100%; max-height: 100%;
}

.navbar-body {
    position: absolute;
    top: 0; left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%; max-width: 100%;
    min-height: 50px; max-height: 50px;

    background: rgb(80,80,80);
    border-bottom: 1px solid rgb(150,150,150);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

    transition: all ease-in 0.2s;
}

.navbar-body:hover {
    box-shadow: 0 4px 7px rgba(0,0,0,0.25);
}

.navbar-inner {
    position: relative;
    padding: 0 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 100%;
    flex-grow: 1;
    max-width: 2560px;
    min-height: 100%;

    color: #fff;

    transition: all ease-in 0.2s;
}

.navbar-options {
    margin: 0;

    flex-basis: 100%;
    min-width: 100%; max-width: 100%;
    min-height: 100%; max-height: 100%;

    line-height: 50px;
    vertical-align: middle;

    text-align: right;
}

.navbar-options > form {
    line-height: normal;
    padding: 5px 0;
}

.navbar-options.left {
    margin-left: 0;
    margin-right: auto;

    flex-basis: 50%;
    min-width: 50%; max-width: 50%;
    min-height: 100%; max-height: 100%;

    text-align: left;
}

.navbar-options.right {
    margin-left: auto;
    margin-right: 0;

    flex-basis: 50%;
    min-width: 50%; max-width: 50%;
    min-height: 100%; max-height: 100%;

    text-align: right;
}

.navbar-options > .tab {
    display: inline-block;
    
    min-width: 70px;
    min-height: 90%;
    max-height: 90%;
    
    background: rgb(80,80,80);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
    
    color: white !important;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;

    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
}

.navbar-options > .tab:hover,
.navbar-options > .tab:focus {
    background: rgb(120,120,120);
}

.navbar-options > .tab:active,
.navbar-options > .tab.active {
    background: rgb(160, 160, 160);

    transition: all ease-in-out 0.125s;
    -webkit-transition: all ease-in-out 0.125s;
    -moz-transition: all ease-in-out 0.125s;
    -ms-transition: all ease-in-out 0.125s;
    -o-transition: all ease-in-out 0.125s;
}

.content-area {
    position: relative;
    margin: 0 auto;
    padding: 0 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%; max-width: 100%;
    min-height: 100%; max-height: 100%;
}
  
.content-block {
    position: relative;

    margin: 15px 0;
    padding: 25px;

    flex-basis: 100%;
    flex-grow: 1;
    max-width: 1920px;
    min-height: 400px;

    background: rgba(255,255,255,0.75);
    box-shadow: 0 4px 7px rgba(0,0,0,0.05);
    border-radius: 2px;

    color: #000;

    transition: all ease-in 0.2s;
}

.content-block:hover, .content-block:focus {
    background: rgba(255,255,255,1.0);
    box-shadow: 0 4px 7px rgba(0,0,0,0.2);
}

#under-construction {
    display: block;
    margin: 100px auto;

    min-width: 70%;
    max-width: 70%;
    min-height: auto;
    max-height: auto;
}